*.aux
*.toc
*.tex~
*.log
*.lof
*.idx
*.bbl
*.blg
*.lot
*.ilg
*.lol
*.out
*.ind
*.backup
*.synctex.gz
texmf
.directory
build/*
src/build/*
.idea
*.pdf
__pycache__
**/data
.DS_Store
*.bak*

# Important example
!thesis.example.pdf
!paper.example.pdf
!yudisium.example.pdf